<h1 style="margin-bottom:50px;">Thanks for your review!</h1>

<p style="margin-bottom:20px;">Consider <%= link_to 'dropping some change in our tip jar', support_url %> to help cover hotline costs.</p>

<p style="margin-bottom:200px;"><%= link_to 'Click here', root_url %> to go back to the hotline.</p>
